body margin {
	left: 5em;
	right: 5em;
}

.header {
	font-family: "Rammetto One", cursive;
	font-size: 9em;
	color: rgb(0, 0, 0);
	border: 9px solid black;
}

#postedText {
	font-size: 3.5em;
	color: #db4437;
}

#entirePost {
	border: 1px solid black;
	padding: 30px;
}

#googleForm margin {
	top: 10em;
}

.red {
	color: #E22C2C;
}